<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cloud.xuxiaowei.next.masterdata.mapper.DictMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cloud.xuxiaowei.next.masterdata.entity.Dict">
        <id column="dict_code" property="dictCode" />
        <result column="dict_explain" property="dictExplain" />
        <result column="redis_expire" property="redisExpire" />
        <result column="gb" property="gb" />
        <result column="gb_url" property="gbUrl" />
        <result column="remark" property="remark" />
        <result column="create_users_id" property="createUsersId" />
        <result column="create_date" property="createDate" />
        <result column="create_ip" property="createIp" />
        <result column="update_users_id" property="updateUsersId" />
        <result column="update_date" property="updateDate" />
        <result column="update_ip" property="updateIp" />
        <result column="deleted" property="deleted" />
    </resultMap>

</mapper>
