/*防止 ElMessage 样式无效*/
@import 'element-plus/theme-chalk/el-message.css';
/*防止 ElMessageBox 样式无效*/
@import 'element-plus/theme-chalk/el-message-box.css';

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}
