<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cloud.xuxiaowei.next.system.mapper.UsersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cloud.xuxiaowei.next.system.entity.Users">
        <id column="users_id" property="usersId" />
        <result column="username" property="username" />
        <result column="email" property="email" />
        <result column="email_valid" property="emailValid" />
        <result column="nickname" property="nickname" />
        <result column="password" property="password" />
        <result column="enabled" property="enabled" />
        <result column="account_non_expired" property="accountNonExpired" />
        <result column="credentials_non_expired" property="credentialsNonExpired" />
        <result column="account_non_locked" property="accountNonLocked" />
        <result column="update_date" property="updateDate" />
        <result column="create_date" property="createDate" />
        <result column="deleted" property="deleted" />

        <!-- 权限 -->
        <collection property="authoritiesList" ofType="cloud.xuxiaowei.next.system.entity.Authorities">
            <id column="a_username" property="username" />
            <id column="a_authority" property="authority" />
            <result column="a_explain" property="explain" />
            <result column="a_update_date" property="updateDate" />
            <result column="a_create_date" property="createDate" />
        </collection>

    </resultMap>

    <!-- 用户、权限 -->
    <sql id="users_authorities">
        u.*,
        a.username      AS a_username,
        a.authority     AS a_authority,
        ay.explain      AS a_explain,
        a.update_date   AS a_update_date,
        a.create_date   AS a_create_date
    </sql>

    <!-- 用户、权限组 -->
    <sql id="users_group_authorities">
        u.*,
        u.username      AS a_username,
        ga.authority    AS a_authority,
        ay.explain      AS a_explain,
        NULL            AS a_update_date,
        NULL            AS a_create_date
    </sql>

    <!-- 按用户名加载用户及权限（包含用户组权限） -->
    <select id="loadUserByUsername" resultMap="BaseResultMap">
        SELECT
            <include refid="users_authorities"/>
        FROM
            users AS u
            LEFT JOIN authorities AS a ON u.username = a.username
            LEFT JOIN authority as ay ON ay.authority = a.authority
        WHERE
            u.username = #{username} AND u.deleted = 0

        UNION ALL

        SELECT
            <include refid="users_group_authorities"/>
        FROM
            users u
            LEFT JOIN group_members AS gm ON gm.username = u.username
            LEFT JOIN `groups` AS g ON g.id = gm.group_id
            LEFT JOIN group_authorities AS ga ON ga.group_id = g.id
            LEFT JOIN authority AS ay ON ay.authority = ga.authority
        WHERE
            u.username = #{username} AND u.deleted = 0
    </select>

    <!-- 根据 用户主键 查询 -->
    <select id="getByUsersId" resultMap="BaseResultMap">
        SELECT
            <include refid="users_authorities"/>
        FROM
            users AS u
            LEFT JOIN authorities AS a ON u.username = a.username
            LEFT JOIN authority as ay ON ay.authority = a.authority
        WHERE
            u.users_id = #{usersId} AND u.deleted = 0
    </select>

    <!-- 根据 用户名 查询用户信息及权限 -->
    <select id="getByUsername" resultMap="BaseResultMap">
        SELECT
            <include refid="users_authorities"/>
        FROM
            users AS u
            LEFT JOIN authorities AS a ON u.username = a.username
            LEFT JOIN authority as ay ON ay.authority = a.authority
        WHERE
            u.username = #{username} AND u.deleted = 0
    </select>

    <!--
        根据 用户名 查询用户信息
        条件无逻辑删除的判断
     -->
    <select id="getLogicByUsername" resultType="cloud.xuxiaowei.next.system.entity.Users">
        SELECT
            u.*
        FROM
            users AS u
        WHERE
            u.username = #{username}
    </select>

    <!--
        根据 昵称 查询用户信息
        条件无逻辑删除的判断
     -->
    <select id="getLogicByNickname" resultType="cloud.xuxiaowei.next.system.entity.Users">
        SELECT
            u.*
        FROM
            users AS u
        WHERE
            u.nickname = #{nickname}
    </select>

    <!--
        根据 邮箱 查询用户信息
        条件无逻辑删除的判断
     -->
    <select id="getLogicByEmail" resultType="cloud.xuxiaowei.next.system.entity.Users">
        SELECT
            u.*
        FROM
            users AS u
        WHERE
            u.email = #{email}
    </select>

    <!-- 获取不是某个用户是否存在指定邮箱的用户 -->
    <select id="listByIdNotUsersIdAndEmail" resultType="cloud.xuxiaowei.next.system.entity.Users">
        SELECT
            *
        FROM
            users
        WHERE
            users_id != #{usersId}
	        AND email = #{email}
            <if test="deleted == true">
                AND deleted = 1
            </if>
            <if test="deleted == false">
                AND deleted = 0
            </if>
    </select>

    <!-- 获取不是某个用户是否存在指定昵称的用户 -->
    <select id="listByIdNotUsersIdAndNickname" resultType="cloud.xuxiaowei.next.system.entity.Users">
        SELECT
            *
        FROM
            users
        WHERE
            users_id != #{usersId}
            AND nickname = #{nickname}
            <if test="deleted == true">
                AND deleted = 1
            </if>
            <if test="deleted == false">
                AND deleted = 0
            </if>
    </select>

</mapper>
