<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cloud.xuxiaowei.next.passport.mapper.Oauth2AuthorizationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cloud.xuxiaowei.next.passport.entity.Oauth2Authorization">
        <id column="id" property="id" />
        <result column="registered_client_id" property="registeredClientId" />
        <result column="principal_name" property="principalName" />
        <result column="authorization_grant_type" property="authorizationGrantType" />
        <result column="attributes" property="attributes" />
        <result column="state" property="state" />
        <result column="authorization_code_value" property="authorizationCodeValue" />
        <result column="authorization_code_issued_at" property="authorizationCodeIssuedAt" />
        <result column="authorization_code_expires_at" property="authorizationCodeExpiresAt" />
        <result column="authorization_code_metadata" property="authorizationCodeMetadata" />
        <result column="access_token_value" property="accessTokenValue" />
        <result column="access_token_issued_at" property="accessTokenIssuedAt" />
        <result column="access_token_expires_at" property="accessTokenExpiresAt" />
        <result column="access_token_metadata" property="accessTokenMetadata" />
        <result column="access_token_type" property="accessTokenType" />
        <result column="access_token_scopes" property="accessTokenScopes" />
        <result column="oidc_id_token_value" property="oidcIdTokenValue" />
        <result column="oidc_id_token_issued_at" property="oidcIdTokenIssuedAt" />
        <result column="oidc_id_token_expires_at" property="oidcIdTokenExpiresAt" />
        <result column="oidc_id_token_metadata" property="oidcIdTokenMetadata" />
        <result column="refresh_token_value" property="refreshTokenValue" />
        <result column="refresh_token_issued_at" property="refreshTokenIssuedAt" />
        <result column="refresh_token_expires_at" property="refreshTokenExpiresAt" />
        <result column="refresh_token_metadata" property="refreshTokenMetadata" />
    </resultMap>

</mapper>
