<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cloud.xuxiaowei.next.passport.mapper.Oauth2RegisteredClientMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cloud.xuxiaowei.next.passport.entity.Oauth2RegisteredClient">
        <id column="id" property="id" />
        <result column="client_id" property="clientId" />
        <result column="client_id_issued_at" property="clientIdIssuedAt" />
        <result column="client_secret" property="clientSecret" />
        <result column="client_secret_expires_at" property="clientSecretExpiresAt" />
        <result column="client_name" property="clientName" />
        <result column="client_authentication_methods" property="clientAuthenticationMethods" />
        <result column="authorization_grant_types" property="authorizationGrantTypes" />
        <result column="redirect_uris" property="redirectUris" />
        <result column="scopes" property="scopes" />
        <result column="client_settings" property="clientSettings" />
        <result column="token_settings" property="tokenSettings" />
    </resultMap>

</mapper>
